.app {
  width: 329px;
  height: 620px;
}

.title {
  color: #0d0b0b;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  margin-top: 40px;
}

.border {
  border: 1px solid #e4e4e4;
}
